body {
  text-align: center;
  background: #C9E8F1;
}

h1 {
  color: #DA5019;
}

#button {
  display: block;
  text-decoration: none;
  margin: 0 auto;
  width: 150px;
  line-height: 32px;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  border-radius: 3px;
  background: #6BBED5;
  cursor: pointer;
}

#button:hover {
  background-origin: padding-box;
}